* text=auto eol=lf
/**        export-ignore
/PDJE_Wrapper.gdextension -export-ignore
/Update_Project_DJ_Godot.sh -export-ignore
/Update_Project_DJ_Godot.bat -export-ignore
/addons    !export-ignore
/addons/** !export-ignore
addons/** filter=lfs diff=lfs merge=lfs -text
