* text=auto eol=lf
/**        export-ignore
/addons    !export-ignore
/addons/** !export-ignore
addons/** filter=lfs diff=lfs merge=lfs -text
addons/Prebuilts/linux/debug/libPDJE.so filter=lfs diff=lfs merge=lfs -text
