name: smoke_tester

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  SmokeTest:
    name: checker
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.CHECKER_TOKEN }}
    steps:
      - name: release-downloader
        uses: robinraju/release-downloader@v1.12
        with:
          # The source repository path. Expected format {owner}/{repo}
          repository: godotengine/godot # optional, default is ${{ github.repository }}
          # A flag to choose between latest release and remaining releases
          latest: true # optional, default is false
          # A flag to download from prerelease. It should be combined with latest flag
          fileName: Godot_v4.5.1-stable_linux.x86_64.zip
          # Download tarball from assets
          tarBall: false # optional, default is false
          # Download zipball from assets
          zipBall: false # optional, default is false
          # Relative path under $GITHUB_WORKSPACE to place the downloaded files
          out-file-path: .
          # If the downloaded assets should be extracted to `out-file-path`. Supports tar, tar.gz and zip
          extract: true # optional, default is false
          # Github token to access private repos
          
          # The URL of the Github API, only use this input if you are using Github Enterprise
          
          # The release id to download the file from
          # releaseId: # optional, default is 
      - name: Locate Downloaded
        run: |
          ls .
          rm -f ./*.zip || true
          GODOT_NAME=$(ls | grep Godot)
           echo "GODOT_NAME=$GODOT_NAME" >> "$GITHUB_ENV" 
      - name: Set Project
        run: |
          git -c filter.lfs.smudge= -c filter.lfs.process= -c filter.lfs.required=false clone https://github.com/Rliop913/Project_DJ_Godot.git
          cd Project_DJ_Godot
          bash Update_Project_DJ_Godot.sh
      - name: Run Test
        run: |
          cat > project.godot <<'GODOT'
          ; Engine configuration file.
          ; It's best edited using the editor UI and not directly,
          ; since the parameters that go here are not all obvious.
          ;
          ; Format:
          ;   [section] ; section goes between []
          ;   param=value ; assign values to parameters
          
          config_version=5
          
          [application]
          
          config/features=PackedStringArray("4.4")
          GODOT
          cd $GITHUB_WORKSPACE/Project_DJ_Godot
          chmod +x -- "../$GODOT_NAME"
          
          timeout 30s "../$GODOT_NAME" --headless --path . --run "res://SmokeTests/SmokeTest_LoadPlugins.tscn" 2>&1 | tee ./load_plugin.log
          cat ./load_plugin.log | echo
          
      # - name: Pull & run updater
      #   run: |
      #     set -e
      #     gh auth setup-git
      #     gh repo clone Rliop913/Project_DJ_Godot
      #     cd Project_DJ_Godot
      #     git lfs install --local
      #     set +e
      #     git lfs pull
      #     EXIT_CODE=$?
      #     echo "exit_code=$EXIT_CODE" >> $GITHUB_OUTPUT
      #     set -e
      #     if [ $EXIT_CODE -ne 0 ]; then
      #       echo "LFS pull failed"
      #       exit 1
      #     fi
      # - name: revert commit
      #   if: failure()
      #   run: |
      #     tree .
          
      #     git config user.name  "github-actions[bot]"
      #     git config user.email "github-actions[bot]@users.noreply.github.com"
      #     git fetch origin
      #     git reset --hard HEAD~1
      #     git push origin main --force
          
      #   working-directory: Project_DJ_Godot
